.btn_hov {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_hov:hover {
  background: #31c0a5;
  color: #ffffff;
  text-decoration: none;
}
@font-face {
  font-family: gotham_light;
  src: url('../fonts/GOTHAPROLIG.OTF');
}
@font-face {
  font-family: gotham_pro;
  src: url('../fonts/GOTHAPROREG.OTF');
}
@font-face {
  font-family: gotham_med;
  src: url('../fonts/GOTHAPROMED.OTF');
}
@font-face {
  font-family: gothamBold;
  src: url('../fonts/GOTHAPRONARBOL.OTF');
}
@font-face {
  font-family: muller_ultra;
  src: url('../fonts/Muller-UltraLight.otf');
}
@font-face {
  font-family: muller_bold;
  src: url('../fonts/Muller-Black.otf');
}
@font-face {
  font-family: muller_boldin;
  src: url('../fonts/Muller-Bold.otf');
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'gotham_pro';
  font-size: 12px;
  color: #040404;
  position: relative;
  min-height: 100%;
}
h1,
h2 {
  font-family: 'muller_bold';
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 32px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 24px;
}
a:hover {
  text-decoration: none;
}
.align_center {
  text-align: center;
}
.align_left {
  text-align: left;
}
.align_right {
  text-align: right;
}
a {
  color: #040404;
  font-size: 11px;
}
a:active,
a:visited,
a:focus {
  outline: none;
}
button {
  width: 210px;
  text-align: center;
  background: #279782;
  color: #ffffff;
  padding: 20px;
  border: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
}
button:hover {
  background: #31c0a5;
  color: #ffffff;
  text-decoration: none;
}
button:hover {
  text-decoration: none !important;
  color: #ffffff !important;
}
button:visited,
button:focus {
  color: #ffffff !important;
  text-decoration: none !important;
}
.inline {
  display: inline-block;
}
.up {
  text-transform: uppercase;
}
.modal .modal-header {
  display: block;
  margin: 0 auto;
  border: none;
  position: relative;
}
.modal .modal-header .modal-title {
  text-align: center;
}
.modal .modal-header .close {
  width: auto;
  position: absolute;
  right: 50px;
  top: 0;
  opacity: .6;
}
.modal .modal-header .close:hover {
  background: none;
  opacity: 1;
}
.modal .modal-content {
  padding: 45px 0;
  margin: auto;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.modal form {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.modal form > input,
.modal form textarea {
  display: block;
  background: #ffffff;
  border: 1px solid #ebebeb;
  padding: 15px 5%;
  width: 100%;
  margin-top: -1px;
  color: #040404;
}
.modal form > input[type="submit"] {
  border: 2px solid #279782;
  background: transparent;
  padding: 10px;
  width: 250px;
  display: block;
  color: #279782;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 40px;
}
.modal form > input[type="submit"]:hover {
  color: #ffffff;
  background: #279782;
  text-decoration: none !important;
}
.modal form input:not([type="submit"]),
.modal form textarea {
  border: 1px solid #279782;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-top: 0;
  margin-bottom: 10px;
}
.modal form input[type="submit"] {
  padding: 13px;
}
@media screen and (max-width: 991px) {
  .modal form input[type="submit"] {
    width: 100%;
  }
}
.background_gray {
  background: #f6f6f6;
}
.img_center {
  display: block;
  margin: 0 auto;
}
.text_gray {
  color: #bcbcbc;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.list_inline {
  list-style: none;
}
.list_inline li {
  display: inline-block;
}
.section_capt_center {
  text-align: center;
}
.section_capt_center .row {
  position: relative;
}
.section_capt {
  margin-top: 45px;
  margin-bottom: 40px;
  text-align: left;
}
.section_capt .row {
  position: relative;
}
.section_capt h2 {
  margin: 0;
}
.section_capt .back_link {
  position: absolute;
  top: 40%;
  right: 0;
}
.section_capt .back_link span {
  font-size: 18px;
  color: #279782;
  margin-left: 15px;
}
.section_capt .back_link img {
  margin-top: 3px;
}
@media screen and (max-width: 991px) {
  .section_capt .back_link {
    right: auto;
    left: 25px;
    top: 1%;
  }
}
@media screen and (max-width: 450px) {
  .section_capt h2 {
    font-size: 19.2px;
    margin-top: 5px;
  }
}
.btn_base {
  font-family: 'muller_boldin';
  font-size: 13px;
  height: 42px;
  width: 80%;
  text-align: center;
  background: #279782;
  color: #ffffff;
  padding: 12px;
  border: none;
  display: block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_base:hover {
  background: #31c0a5;
  color: #ffffff;
  text-decoration: none;
}
.btn_transparent {
  width: 200px;
  text-align: center;
  background: #279782;
  padding: 12px;
  border: none;
  display: block;
  height: 45px;
  background: transparent;
  font-family: 'gotham_med';
  font-size: 14px;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn_transparent:hover {
  background: #31c0a5;
  color: #ffffff;
  text-decoration: none;
}
.btn_transparent:hover {
  color: #279782;
  background: #ffffff;
  text-decoration: none !important;
}
.grid_5 {
  width: 20%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media screen and (max-width: 1500px) {
  body {
    font-size: 10.8px;
  }
  h3 {
    font-size: 20px;
  }
  .btn_base {
    width: 100%;
    font-size: 12px;
  }
}
@media screen and (max-width: 991px) {
  .mobile_all_width {
    width: 100% !important;
  }
  .section_capt {
    margin: 25px 0;
    text-align: center;
  }
}
.pagination_container .pagination {
  margin: 50px 0 0 0;
}
.pagination_container .pagination li a {
  color: #279782;
  font-size: 20px;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  padding: 8px;
  border: none;
  margin-left: 0;
  text-align: center;
}
.pagination_container .pagination li a.active {
  color: #767676;
  border: 1px solid #ebebeb;
}
@media screen and (max-width: 991px) {
  .pagination_container .pagination {
    margin: 0 !important;
  }
  .pagination_container .pagination li a {
    font-family: 'gothamBold';
    font-size: 26px;
  }
  .pagination_container .pagination li a.active {
    border: none;
    color: #040404;
  }
}
@media screen and (max-width: 991px) {
  .pagination_container {
    margin: 25px 0;
    text-align: center;
  }
  .pagination_container .arrow_left {
    margin-left: 35px;
  }
  .pagination_container .arrow_right {
    margin-right: 35px;
  }
}
@media screen and (max-width: 400px) {
  .pagination_container .arrow_left {
    margin-left: 10px;
  }
  .pagination_container .arrow_right {
    margin-right: 10px;
  }
}
