.btn_hov {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_hov:hover {
  background: #31c0a5;
  color: #ffffff;
  text-decoration: none;
}
@font-face {
  font-family: gotham_light;
  src: url('../fonts/GOTHAPROLIG.OTF');
}
@font-face {
  font-family: gotham_pro;
  src: url('../fonts/GOTHAPROREG.OTF');
}
@font-face {
  font-family: gotham_med;
  src: url('../fonts/GOTHAPROMED.OTF');
}
@font-face {
  font-family: gothamBold;
  src: url('../fonts/GOTHAPRONARBOL.OTF');
}
@font-face {
  font-family: muller_ultra;
  src: url('../fonts/Muller-UltraLight.otf');
}
@font-face {
  font-family: muller_bold;
  src: url('../fonts/Muller-Black.otf');
}
@font-face {
  font-family: muller_boldin;
  src: url('../fonts/Muller-Bold.otf');
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'gotham_pro';
  font-size: 12px;
  color: #040404;
  position: relative;
  min-height: 100%;
}
h1,
h2 {
  font-family: 'muller_bold';
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 32px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 24px;
}
a:hover {
  text-decoration: none;
}
.align_center {
  text-align: center;
}
.align_left {
  text-align: left;
}
.align_right {
  text-align: right;
}
a {
  color: #040404;
  font-size: 11px;
}
a:active,
a:visited,
a:focus {
  outline: none;
}
button {
  width: 210px;
  text-align: center;
  background: #279782;
  color: #ffffff;
  padding: 20px;
  border: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
}
button:hover {
  background: #31c0a5;
  color: #ffffff;
  text-decoration: none;
}
button:hover {
  text-decoration: none !important;
  color: #ffffff !important;
}
button:visited,
button:focus {
  color: #ffffff !important;
  text-decoration: none !important;
}
.inline {
  display: inline-block;
}
.up {
  text-transform: uppercase;
}
.modal .modal-header {
  display: block;
  margin: 0 auto;
  border: none;
  position: relative;
}
.modal .modal-header .modal-title {
  text-align: center;
}
.modal .modal-header .close {
  width: auto;
  position: absolute;
  right: 50px;
  top: 0;
  opacity: .6;
}
.modal .modal-header .close:hover {
  background: none;
  opacity: 1;
}
.modal .modal-content {
  padding: 45px 0;
  margin: auto;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.modal form {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.modal form > input,
.modal form textarea {
  display: block;
  background: #ffffff;
  border: 1px solid #ebebeb;
  padding: 15px 5%;
  width: 100%;
  margin-top: -1px;
  color: #040404;
}
.modal form > input[type="submit"] {
  border: 2px solid #279782;
  background: transparent;
  padding: 10px;
  width: 250px;
  display: block;
  color: #279782;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 40px;
}
.modal form > input[type="submit"]:hover {
  color: #ffffff;
  background: #279782;
  text-decoration: none !important;
}
.modal form input:not([type="submit"]),
.modal form textarea {
  border: 1px solid #279782;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-top: 0;
  margin-bottom: 10px;
}
.modal form input[type="submit"] {
  padding: 13px;
}
@media screen and (max-width: 991px) {
  .modal form input[type="submit"] {
    width: 100%;
  }
}
.background_gray {
  background: #f6f6f6;
}
.img_center {
  display: block;
  margin: 0 auto;
}
.text_gray {
  color: #bcbcbc;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.list_inline {
  list-style: none;
}
.list_inline li {
  display: inline-block;
}
.section_capt_center {
  text-align: center;
}
.section_capt_center .row {
  position: relative;
}
.section_capt {
  margin-top: 45px;
  margin-bottom: 40px;
  text-align: left;
}
.section_capt .row {
  position: relative;
}
.section_capt h2 {
  margin: 0;
}
.section_capt .back_link {
  position: absolute;
  top: 40%;
  right: 0;
}
.section_capt .back_link span {
  font-size: 18px;
  color: #279782;
  margin-left: 15px;
}
.section_capt .back_link img {
  margin-top: 3px;
}
@media screen and (max-width: 991px) {
  .section_capt .back_link {
    right: auto;
    left: 25px;
    top: 1%;
  }
}
@media screen and (max-width: 450px) {
  .section_capt h2 {
    font-size: 19.2px;
    margin-top: 5px;
  }
}
.btn_base {
  font-family: 'muller_boldin';
  font-size: 13px;
  height: 42px;
  width: 80%;
  text-align: center;
  background: #279782;
  color: #ffffff;
  padding: 12px;
  border: none;
  display: block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_base:hover {
  background: #31c0a5;
  color: #ffffff;
  text-decoration: none;
}
.btn_transparent {
  width: 200px;
  text-align: center;
  background: #279782;
  padding: 12px;
  border: none;
  display: block;
  height: 45px;
  background: transparent;
  font-family: 'gotham_med';
  font-size: 14px;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn_transparent:hover {
  background: #31c0a5;
  color: #ffffff;
  text-decoration: none;
}
.btn_transparent:hover {
  color: #279782;
  background: #ffffff;
  text-decoration: none !important;
}
.grid_5 {
  width: 20%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media screen and (max-width: 1500px) {
  body {
    font-size: 10.8px;
  }
  h3 {
    font-size: 20px;
  }
  .btn_base {
    width: 100%;
    font-size: 12px;
  }
}
@media screen and (max-width: 991px) {
  .mobile_all_width {
    width: 100% !important;
  }
  .section_capt {
    margin: 25px 0;
    text-align: center;
  }
}
.pagination_container .pagination {
  margin: 50px 0 0 0;
}
.pagination_container .pagination li a {
  color: #279782;
  font-size: 20px;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  padding: 8px;
  border: none;
  margin-left: 0;
  text-align: center;
}
.pagination_container .pagination li a.active {
  color: #767676;
  border: 1px solid #ebebeb;
}
@media screen and (max-width: 991px) {
  .pagination_container .pagination {
    margin: 0 !important;
  }
  .pagination_container .pagination li a {
    font-family: 'gothamBold';
    font-size: 26px;
  }
  .pagination_container .pagination li a.active {
    border: none;
    color: #040404;
  }
}
@media screen and (max-width: 991px) {
  .pagination_container {
    margin: 25px 0;
    text-align: center;
  }
  .pagination_container .arrow_left {
    margin-left: 35px;
  }
  .pagination_container .arrow_right {
    margin-right: 35px;
  }
}
@media screen and (max-width: 400px) {
  .pagination_container .arrow_left {
    margin-left: 10px;
  }
  .pagination_container .arrow_right {
    margin-right: 10px;
  }
}
.page_header {
  border-bottom: 2px solid #ebebeb;
}
.page_header .container .row {
  height: 120px;
  padding: 40px 0;
}
.page_header .container .row .top_logo .media .media-body {
  width: auto;
  vertical-align: middle;
}
.page_header .container .row .top_logo .media .media-body h3 {
  color: #279782;
  font-family: 'muller_bold';
  padding: 0;
  margin: 0;
}
.page_header .top_nav {
  padding: 15px 0;
}
.page_header .top_nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header .top_nav ul li a {
  font-size: 13px;
  color: #040404;
  padding: 15px 20px 10px 20px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  font-family: 'muller_boldin';
}
.page_header .top_nav ul li a:hover {
  text-decoration: none !important;
  color: #279782;
}
.page_header .top_nav ul li a.active {
  border: 1px solid #279782;
}
.page_header .top_nav ul li a.active:hover {
  border-color: #279782;
}
.page_header .top_contacts {
  padding: 12px 0;
  text-align: center;
}
.page_header .top_contacts p {
  margin-left: 5px;
  font-family: 'muller_boldin';
  font-size: 15px;
}
.page_header .top_contacts i {
  font-size: 22px;
  vertical-align: middle;
}
.page_header .top_call a {
  position: relative;
}
.page_header .top_call a i {
  position: absolute;
  left: 15px;
  font-size: 14px;
}
.header_mobile {
  position: relative;
  padding: 0 35px;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
}
.header_mobile .nav_mobile {
  display: block;
  padding: 35px 0;
}
.header_mobile .nav_mobile > span {
  display: block;
  width: 40px;
  height: 4px;
  background: #279782;
  margin-bottom: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.header_mobile .logo_mobile {
  display: inline-block;
  padding: 17px 0;
}
.header_mobile .logo_mobile .brand {
  margin-right: 10px;
}
.header_mobile .logo_mobile .brand_text h3 {
  color: #279782;
  font-family: 'muller_bold';
  font-size: 22px;
  margin: 10px 0 5px 0;
}
.header_mobile .contact_mobile {
  padding: 35px 0;
}
.header_mobile .contact_mobile i {
  font-size: 32px;
  color: #279782;
}
#mobileMenu {
  background: #3e3e3e;
  width: 65%;
  height: 100%;
  padding: 50px 0 50px 5%;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: scroll;
  text-transform: uppercase;
  font-size: 26px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  -o-transform: translateX(-1000px);
  -webkit-transform: translateX(-1000px);
  -moz-transform: translateX(-1000px);
  opacity: .6;
  z-index: 10000;
}
#mobileMenu.active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  opacity: 1;
}
#mobileMenu > li {
  margin-bottom: 40px;
}
#mobileMenu > li a {
  position: relative;
  color: #ffffff;
  font-size: 26px;
}
#mobileMenu > li a.active::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  bottom: -10px;
  right: 0;
}
#mobileMenu > .close_toggle {
  position: absolute;
  top: 25px;
  right: 10%;
  cursor: pointer;
}
#mobileMenu.active {
  opacity: 1;
}
#mobileMenu a {
  color: #279782;
}
main #mainCarousel {
  position: relative;
}
main #mainCarousel .carousel-indicators {
  width: auto;
  height: auto;
  left: 45%;
  right: auto;
  margin-left: 0;
}
main #mainCarousel .carousel-indicators > li {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 7px;
  height: 7px;
  background: transparent;
}
main #mainCarousel .carousel-indicators > li.active {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 7px;
  height: 7px;
  background: #ffffff;
  border-color: #ffffff;
}
main #mainCarousel .carousel-indicators li {
  margin-right: 7px;
}
main #mainCarousel .carousel-indicators li.active {
  margin-right: 7px;
}
main #mainCarousel .carousel-inner {
  height: 575px;
}
main #mainCarousel .carousel-inner .item {
  height: 100%;
}
main #mainCarousel .carousel-inner .item:first-of-type {
  background: url('../img/main_cover_1.jpg') no-repeat;
  background-size: cover;
}
main #mainCarousel .carousel-inner .item:nth-of-type(2) {
  background: url('../img/main_cover_2.jpg') no-repeat;
  background-size: cover;
}
main #mainCarousel .carousel-inner .item:last-of-type {
  background: url('../img/main_cover_4.jpg') no-repeat;
  background-size: cover;
}
main #mainCarousel .carousel-inner .item .carousel-caption {
  width: 700px;
  height: 350px;
  left: 13.1%;
  top: 18.5%;
  right: auto;
  bottom: auto;
  border: 30px solid transparent;
  text-align: left;
  -moz-border-image: url('../img/carousel_border.png') 30;
  -webkit-border-image: url('../img/carousel_border.png') 30;
  -o-border-image: url('../img/carousel_border.png') 30;
  border-image: url('../img/carousel_border.png') 30;
}
main #mainCarousel .carousel-inner .item .carousel-caption h1 {
  font-size: 75px;
}
main #mainCarousel .carousel-inner .item .carousel-caption h2 {
  font-size: 46px;
}
main #mainCarousel .carousel-inner .item .carousel-caption p {
  font-family: 'muller_ultra';
  font-size: 28px;
}
main #mainCarousel .control_container {
  position: absolute;
  bottom: 40px;
  left: 13.1%;
}
main #mainCarousel .control_container .carousel-control {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  float: left;
  border: 2px solid #ffffff;
  box-shadow: none;
  background: none;
  opacity: 1;
  padding: 15px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
main #mainCarousel .control_container .carousel-control.left {
  border-right: 1px solid #ffffff;
}
main #mainCarousel .control_container .carousel-control.right {
  border-left: 1px solid #ffffff;
}
main #mainCarousel .control_container .carousel-control img {
  display: block;
  margin: 0 auto;
}
main .about_sect {
  margin-bottom: 75px;
}
main .about_sect .text_block {
  background: #f6f6f6;
  height: 380px;
  padding: 130px 12%;
  border: 1px solid #103554;
  border-top: none;
  border-right: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
main .about_sect .text_block p {
  font-family: 'gotham_light';
  font-size: 22px;
  line-height: 1.7;
}
main .about_sect .text_block p span {
  font-family: 'gotham_pro';
}
main .about_sect .text_about {
  position: relative;
}
main .about_sect .text_about div {
  padding: 75px;
  position: absolute;
  top: -120px;
  display: block;
  width: 100%;
  height: 500px;
  background: url('../img/sect_cover.jpg') no-repeat;
  background-size: cover;
}
main .about_sect .text_about div p {
  font-family: 'gotham_light';
  font-size: 18px;
  color: #ffffff;
  line-height: 1.7;
}
main .about_sect .text_about div a {
  background: url('../img/carousel_arrow_left.png') no-repeat 10% 50%;
}
main .about_sect .text_about div a:hover {
  background: url('../img/color_base_arrow.png') no-repeat 10% 50% #ffffff;
  color: #279782;
}
main .catalog {
  margin-bottom: 75px;
}
main .catalog .catalog_sect {
  margin: 55px 0;
}
main .catalog .catalog_sect > div > div {
  text-align: center;
}
main .catalog .catalog_sect > div .title {
  margin-bottom: 30px;
}
main .catalog .catalog_sect > div .title p {
  font-family: 'gotham_pro';
  color: #279782;
  font-size: 18px;
}
main .catalog .catalog_sect > div .title p span {
  font-family: 'gotham_med';
}
main .catalog .catalog_sect > div .item_img {
  margin-bottom: 30px;
}
main .catalog .catalog_sect > div .item_img img {
  display: block;
  margin: 0 auto;
}
main .catalog .catalog_sect > div .price {
  text-align: center;
  font-size: 20px;
  font-family: 'gothamBold';
}
main .catalog .catalog_sect > div .price span {
  font-family: 'gotham_light';
}
main .catalog .catalog_more {
  border-color: #279782;
  color: #279782;
  font-size: 13px;
  width: 250px;
  height: 45px;
  padding: 13px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  margin: 0 auto;
}
main .catalog .catalog_more:hover {
  color: #ffffff;
  background: #279782;
  text-decoration: none !important;
}
main .adventage {
  height: 400px;
  padding: 130px 0;
  background: #279782;
}
main .adventage .adventage_sect .grid_5 .icon_container {
  height: 95px;
  margin-bottom: 30px;
  text-align: center;
}
main .adventage .adventage_sect .grid_5 i {
  display: block;
  margin: 0 auto;
}
main .adventage .adventage_sect .grid_5 p {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.9;
  padding: 0 10%;
  padding-left: 15%;
}
main .adventage .adventage_sect .grid_5 span {
  font-size: 58px;
  color: #81baad;
}
main .news_block {
  margin: 0 0 60px 0;
  padding-right: 10px;
}
main .news_block .left_block .news_cover {
  position: relative;
  height: 550px;
  background: url('../img/news_cover.jpg') no-repeat;
  background-size: cover;
}
main .news_block .left_block .news_cover .caption {
  position: absolute;
  width: 440px;
  bottom: 50px;
  left: 50px;
}
main .news_block .left_block .news_cover .caption h1 {
  background: #279782;
  display: inline-block;
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding: 25px 40px;
}
main .news_block .left_block .news_cover .caption h1:first-of-type {
  padding-bottom: 0;
}
main .news_block .left_block .news_cover .caption h1:nth-of-type(2) {
  padding-top: 15px;
}
main .news_block .right_block {
  height: 550px;
}
main .news_block .right_block .background_gray {
  height: 275px;
}
main .news_block .right_block .item_container {
  padding: 45px;
  padding-right: 65px;
}
main .news_block .right_block .news_item .news_date > div {
  position: relative;
}
main .news_block .right_block .news_item .news_date > div .read_news {
  position: absolute;
  right: 0;
  top: 0;
}
main .news_block .right_block .news_item .news_date .media .media-left h2 {
  font-family: 'gothamBold';
  font-size: 40px;
  padding: 0;
  margin: 0;
}
main .news_block .right_block .news_item .news_date .media .media-body span {
  display: block;
  font-family: 'gothamBold';
}
main .news_block .right_block .news_item .news_date .media .media-body span.media-heading {
  padding: 0;
  margin: 0;
}
main .news_block .right_block .news_item .news_title {
  height: 50px;
}
main .news_block .right_block .news_item .news_title p {
  font-family: 'gothamBold';
  font-size: 16px;
  color: #279782;
}
main .news_block .right_block .news_item .news_content p {
  line-height: 1.7;
}
main .news_block .category-left {
  padding-right: 10px;
  padding-left: 20px;
  height: 275px;
  padding-bottom: 0;
}
main .news_block .category-left .icon_cont {
  background: url('../img/lop.png') no-repeat 50% 45% #f6f6f6 !important;
}
main .news_block .category {
  height: 275px;
  padding-top: 20px;
}
main .news_block .category:first-child {
  padding-right: 10px;
}
main .news_block .category:first-child .icon_cont {
  background: url('../img/lop.png') no-repeat 50% 45% #f6f6f6;
}
main .news_block .category:last-of-type {
  padding-left: 10px;
}
main .news_block .category:last-of-type .icon_cont {
  background: url('../img/gallery.png') no-repeat 50% 45% #f6f6f6;
}
main .news_block .category .icon_cont {
  background: #f6f6f6;
  height: 100%;
  padding: 145px 0 0 0;
  text-align: center;
}
main .news_block .category .icon_cont span {
  font-family: 'muller_bold';
  font-size: 32px;
  color: #279782;
  margin-top: 20px;
  display: inline-block;
}
main .gallery {
  margin-bottom: 140px;
}
main .gallery .gallery_item {
  border: 2px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  position: relative;
}
main .gallery .gallery_item img {
  width: 100%;
}
main .gallery .gallery_item .item_title {
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: rgba(39, 151, 130, 0.7);
  padding: 20px 45px;
}
main .gallery .gallery_item .item_title p {
  font-size: 14px;
  font-family: 'gotham_light';
  color: #ffffff;
}
main .contacts {
  margin-bottom: 115px;
}
main .contacts .map_container {
  padding-right: 7px;
}
main .contacts .map_container #map {
  height: 750px;
}
main .contacts .contact_container {
  padding-left: 7px;
}
main .contacts .contact_info {
  background: #1f8d9d;
  height: 260px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .contacts .contact_info .info_item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
main .contacts .contact_info .info_item .text_content p {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}
main .contacts .contact_info .info_item .text_content h3 {
  font-family: 'gotham_light';
  color: #ffffff;
  font-size: 17px;
  padding: 0;
  margin: 0;
}
main .contacts .contact_info .info_item .text_content p,
main .contacts .contact_info .info_item .text_content h3 {
  height: 46px;
}
main .contacts .contact_info .info_item .icon {
  height: 85px;
}
main .contacts .contact_info .info_item .icon i {
  display: block;
  margin: 0 auto;
}
main .contacts .contact_info .info_item:first-of-type p {
  padding-left: 15%;
}
main .contacts .contact_form {
  padding: 40px;
  height: 475px;
  margin-top: 15px;
  background: #279782;
}
main .contacts .contact_form #contactForm {
  width: 85%;
  display: block;
  margin: 0 auto;
}
main .contacts .contact_form #contactForm > input,
main .contacts .contact_form #contactForm textarea {
  display: block;
  background: #ffffff;
  border: 1px solid #ebebeb;
  padding: 15px 5%;
  width: 100%;
  margin-top: -1px;
  color: #040404;
}
main .contacts .contact_form #contactForm > input[type="submit"] {
  border: 2px solid #279782;
  background: transparent;
  padding: 10px;
  width: 250px;
  display: block;
  color: #279782;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 40px;
}
main .contacts .contact_form #contactForm > input[type="submit"]:hover {
  color: #ffffff;
  background: #279782;
  text-decoration: none !important;
}
main .contacts .contact_form #contactForm input:not([type="submit"]),
main .contacts .contact_form #contactForm textarea {
  margin-bottom: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}
main .contacts .contact_form #contactForm input:not([type="submit"])::-webkit-input-placeholder,
main .contacts .contact_form #contactForm textarea::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}
main .contacts .contact_form #contactForm input:not([type="submit"])::-moz-placeholder,
main .contacts .contact_form #contactForm textarea::-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
}
main .contacts .contact_form #contactForm input:not([type="submit"]):-moz-placeholder,
main .contacts .contact_form #contactForm textarea:-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
}
main .contacts .contact_form #contactForm input[type="submit"] {
  border-color: #ffffff;
  width: 200px;
  color: #ffffff;
  padding: 12px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: url('../img/pencil.png') no-repeat 15% 50% transparent;
}
main .contacts .contact_form #contactForm input[type="submit"]:hover {
  color: #279782;
  background: #ffffff;
  text-decoration: none !important;
}
main .contacts .contact_form #contactForm input[type="submit"]:hover {
  background: url('../img/green_pencil.png') no-repeat 15% 50% #ffffff;
}
main .catalog .catalog_sect > div {
  border: 1px solid #ebebeb;
  margin-top: -1px;
  margin-left: -1px;
}
@media screen and (max-width: 991px) {
  
}
main .catalog_page .catalog .catalog_sect {
  margin: 0;
}
main .catalog_page .catalog .catalog_sect > div {
  padding: 50px 0;
}
main .catalog_item {
  margin-bottom: 115px;
}
main .catalog_item .item_block > .container {
  border: 1px solid #ebebeb;
}
main .catalog_item .item_prev {
  border-right: 1px solid #ebebeb;
  padding: 60px 0;
  height: 790px;
}
main .catalog_item .item_prev #catalogItem .item {
  height: 520px;
}
main .catalog_item .item_prev #catalogItem .item img {
  display: block;
  margin: 0 auto;
}
main .catalog_item #itemControl .item .control_item {
  height: 100px;
}
main .catalog_item #itemControl .carousel-control {
  background-image: none;
  width: auto;
  height: auto;
  top: 30%;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}
main .catalog_item #itemControl .carousel-control.left {
  left: 65px;
}
main .catalog_item #itemControl .carousel-control.right {
  right: 65px;
}
main .catalog_item .item_content {
  padding: 60px 80px;
}
main .catalog_item .item_content h3 {
  font-family: 'gothamBold';
  font-size: 40px;
}
main .catalog_item .item_content h5 {
  font-family: 'gothamBold';
  font-size: 16px;
  color: #279782;
  margin-bottom: 35px;
}
main .catalog_item .item_content p {
  font-family: 'gotham_light';
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.8;
}
main .catalog_item .item_content .btn_base {
  width: 275px;
  height: 65px;
  padding: 20px;
  font-size: 18px;
  padding-left: 40px;
  background-image: url('../img/pencil.png');
  background-repeat: no-repeat;
  background-position: 10.5% 50%;
  text-align: center;
}
main .news_page .news_block .news_item {
  border: 1px solid #ebebeb;
  padding: 90px 200px 60px 60px;
  height: 330px;
  margin-top: -1px;
  margin-left: -1px;
}
main .news_page .news_block .news_item .date {
  font-size: 16px;
  margin-bottom: 30px;
  position: relative;
}
main .news_page .news_block .news_item .date::before {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: #279782;
  position: absolute;
  top: -25px;
}
main .news_page .news_block .news_item .title {
  font-family: 'gothamBold';
  font-size: 16px;
  color: #279782;
  margin-bottom: 30px;
}
main .news_page .news_block .news_item .news_content {
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.7;
}
.pre_footer {
  padding-bottom: 275px;
}
footer {
  padding: 140px 0;
  position: absolute;
  bottom: 0;
  height: 275px;
  width: 100%;
  background: #1f8d9d;
}
footer p {
  color: #ffffff;
}
footer .footer_social ul li {
  margin-right: 15px;
}
footer .footer_social ul li a i {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
footer .footer_social ul li a i:hover {
  filter: brightness(110%);
  -moz-filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
footer .footer_contact p:nth-of-type(2) {
  font-size: 22px;
  line-height: 2;
}
